.address {
    position: relative;
    display: flex 1 1 auto;
    align-items: center;
    justify-content: center;
  }
  
  .section {
    display: flex 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
  }
  
.blockquote {
    z-index: 1;
}

  .mb-3 {
    position: relative;
    width: 50% !important;
    color:rgb(255, 0, 157) !Important;
    display: flex 1 1 auto;
    align-items: center;
    justify-content:center
  }
  
  .mb-3 form-check{
    display: inline-block;
    Width: 40% !important
    justify-content: space-between;
    border: solid red 3px;
    background-color: aqua;
  }
  .box3 {
    display: inline-block;
    justify-content: space-between;
    border: solid rgb(68, 0, 255) 3px;
    background-color: rgb(255, 0, 157);
  }